{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
  signup
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container my-form">
      <h2> You are authenticated </h2>
    </div>
  {% else %}
    <form  method="post" class="signupform ">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h5 class="card-title text-center mb-4">Register</h5>
                    <form>
                      <div class="form-label-group">
                        <input type="text" id="first_name" name="first_name" class="form-control name_style " placeholder="first name" required autofocus>
                        <label for="first_name"> first name</label>
                      </div>
                      <div class="form-label-group">
                        <input type="text" id="last_name" name="last_name" class="form-control  name_style" placeholder="last name" required autofocus>
                        <label for="last_name"> last name</label>
                      </div>
                       <hr>
                      <div class="form-label-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                        <label for="username">Username</label>
                      </div>
                      <div class="form-label-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required autofocus>
                        <label for="email">Enter Email</label>
                      </div>
                       <hr>
                      <div class="form-label-group">
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="Password" required>
                        <label for="password1">Password</label>
                      </div>
                      <div class="form-label-group">
                        <input type="password" id="password2" name="password2" class="form-control" placeholder="Password" required>
                        <label for="password2">confirm Password</label>
                      </div>
                       <hr>

                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
                      <a class="d-block text-center mt-2 small" href="{% url 'login' %}">Sign In</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
